name: test_workflow

on: push

jobs:
  run-tests:
    strategy:
      matrix:
        python-version: [3.9]

    name: Unitary Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64

      - name: Create and activate virtual environment
        run: python -m venv venv
      - name: Activate virtual environment
        run: source venv/bin/activate

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests
        run: pytest

