name: test_workflow

on: push

jobs:
  jobs1:
    runs-on: ubuntu-latest
    name: UnitaryTests

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11.5"

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install pytest
          pip install requests
          pip install pandas
          pip install numpy
          pip install imbalanced-learn
          pip install lightgbm

      - name: Run tests
        run: pytest

  #jobs2:
  #  needs: jobs1
  #  runs-on: ubuntu-latest
  #  name: Deployment

  #  steps:
  #    - name: connect and pull
  #      run: ssh ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} "cd ${{ secrets.WORK_DIR }} && git checkout ${{ secrets.MAIN_BRANCH }} && git pull && exit"
  #    - name: cleanup
  #      run: rm -rf ~/.ssh


  jobs2:
    runs-on: ubuntu-latest
    needs: jobs1
    environment:
      name: 'Deployment'
      url: ${{ https://ocprojet7-baw5gbumzhta75svyhtetq.streamlit.app/ }}

    steps:        
      - name: 'Deploy to Streamlit Web App'
#        uses: azure/webapps-deploy@v2
        id: deploy-to-webapp
        with:
          app-name: 'Projet7_OC'
#          slot-name: 'Production'
#          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_94888

      

